#postits-diretive{
	margin:10px;
	margin-left: 20px;
	height: 240px;
	width: 16%;
	float: left;
	color: white;

	box-shadow: 7px 7px 0 #333;
   -webkit-box-shadow: 5px 5px 0 #333;
   -moz-box-shadow: 5px 5px 0 #333;
}


h3{
	margin-left: 10px;
	text-align: left;
}
p{
	text-align: justify;
	margin-left: 10px; 
	margin-right: 10px;
}