#postits{
	margin: 10px;
	border-width: 1px;
    border-style: solid;
    border-color: #000;
	height: 220px;
	width: 18%;
	float: left;
	color: white;
}


h1{
	text-align: center;
}
p{
	margin-left: 10px;
}